.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-list {
    flex: 1;
    overflow: scroll;
}

.footer-buttons {
    display: flex;

    .footer-button {
        flex: 1;
    }
}