<ng-template #loadingContacts>
  <app-loading></app-loading>
</ng-template>
<ng-template #noContacts>
  <app-empty-list [customMessage]="'You don\'t have any contacts'"></app-empty-list>
</ng-template>


<ng-container class='ion-margin'>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closePage()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>New chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class='ion-padding'>
    <ion-item>
      <ion-label position='floating'>Chat title</ion-label>
      <ion-input [(ngModel)]="chatTitle">
    </ion-input>
  </ion-item>

    <ng-container *ngIf="contacts$ | async as contacts">
      <ng-container *ngIf="!contacts.loading; else loadingContacts">
        <ion-list *ngIf="contacts.length; else noContacts">
          <ion-list-header>
            <ion-label class="members-title">
              Members
            </ion-label>
          </ion-list-header>

          <ion-item *ngFor="let contact of contacts">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2>{{ contact.userName }}</h2>
              </ion-text>
              <ion-text color="medium">
                <p>{{ contact.email }}</p>
              </ion-text>
            </ion-label>
            <ion-checkbox
              slot="end"
              (ionChange)="contactSelected($event, contact)"
              [checked]="selectedContacts.indexOf(contact.id) > -1"
            >
            </ion-checkbox>
          </ion-item>

        </ion-list>
      </ng-container>
    </ng-container>
  </ion-content>




  <ion-footer no-border class="ion-padding footer-buttons">
    <ion-button
      (click)="closePage()"
      class="footer-button"
      expand="block"
      fill="outline"
      color="primary"
      strong="true"
    >
      Cancel
    </ion-button>
    <ion-button
      (click)="closePage(true)"
      class="footer-button"
      expand="block"
      fill="solid"
      strong="true"
      color="primary"
      [disabled]='!chatTitle.trim() || !selectedContacts.length'
    >
      Start
    </ion-button>
  </ion-footer>
</ng-container>