$textBorderRadius: 16px;

.message-area {
    padding: 0 0 10vh 0;
}

.time-stamp, .date-divider {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    color: var(--ion-color-light-contrast);
    &.show {
        opacity: 1;
    }
}

.date-divider {
    border-bottom: 1px solid var(--ion-color-light-tint);
}

.text {
    white-space: pre-wrap;
}

.date-label{
    margin: auto;
}

.other-message {
    .details {
        text-align: left;
        .name {
            margin-left: 16px;
        }
    }
    .text {
        background: var(--ion-color-tertiary);
        color: var(--ion-color-tertiary-contrast);
        border-radius: 0px $textBorderRadius $textBorderRadius $textBorderRadius;
    }
}

.my-message {
    .details {
        text-align: right;
        .time-stamp {
            margin-left: 16px;
        }
    }
    .text {
        background: var(--ion-color-dark);
        color: var(--ion-color-dark-contrast);
        border-radius: $textBorderRadius 0px $textBorderRadius $textBorderRadius;
    }
}

.type-message-area {
    max-height: 50vh;
    overflow: scroll;
    margin: 5px;
    background: var(--ion-color-light-tint);
    color: var(--ion-color-light-contrast);
}

.linked-tickets {
    max-height: 10vh;
    overflow: scroll;
}

.ticket-badge {
    margin: 0 3px;
}