<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{chat?.title}}</ion-title>
    <ion-buttons slot="end" (click)="leaveChat()">
      <ion-icon name="exit"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This is the only page where bouncing might make sense, if any issues add this forceOverscroll='false' -->

  <ion-grid class="message-area ion-padding">
    <ng-container *ngIf="(messages$ | async) as messages; else loading">


      <ng-container *ngIf="messages.length; else noMessages">

        <ion-row *ngFor="let message of messages">
          <ion-col
            size="9"
            size-md="6"
            *ngIf="message.from !== currentUserId"
            class="message other-message"
          >
            <div class='name'>{{ message.user }}</div>
            <div class='message-text'>{{ message.msg }}
              <img [src]="message.file" *ngIf="message.file" />
            </div>
          </ion-col>

          <ion-col
            offset="3"
            offset-md="6"
            size="9"
            size-md="6"
            *ngIf="message.from === currentUserId"
            class="message my-message"
          >
            <div class='name'>{{ message.user }}</div>
            <div class='message-text'>{{ message.msg }}
              <img [src]="message.file" *ngIf="message.file" />
            </div>
          </ion-col>
        </ion-row>

      </ng-container>



    </ng-container>


    <ng-template #loading>
      <ion-row class='loading'>
        <ion-spinner name="dots" class="spinner-dots"></ion-spinner>
      </ion-row>
    </ng-template>

    <ng-template #noMessages>
      <ion-row class='no-messages'>
        No messages here yet,<br>
        send one below!
      </ion-row>
    </ng-template>


  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sendFile()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="ion-padding">
  <ion-item lines="none">
    <textarea
      (keyup.enter)="sendMessage()"
      class='message-input'
      cdkTextareaAutosize
      [(ngModel)]="message"
      text-wrap>
    </textarea>
    <ion-button
      slot="end"
      class='send-button'
      (click)="sendMessage()"
      [disabled]='!message'
    >
      Send
    </ion-button
    >
  </ion-item>
</ion-footer>
