$boardPadding: 8px;

.board {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: scroll;
    padding: $boardPadding 0;
    // force margins on either side, "flex loses right padding when overflowing"
    &:before { content: ''; min-width: $boardPadding; }
    &:after { content: ''; min-width: $boardPadding; }
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    max-width: 65vw;

    .card-title {
        font-size: 1em;
    }

    .drag-handle {
        cursor: move;
    }

    .ticket-drop-zone {
        flex: 1;
        overflow: scroll;
        min-height: 80px;
    }
}

.new-ticket-icon {
    color: var(--ion-color-medium-contrast);
}

.ticket {
    transition: none; // ios adds an ugly bounce if this isn't here
    max-height: 300px;

    .title, .description {
        white-space: pre-wrap;
    }
}

/////// drag drop styles ///////
.cdk-drag-preview {
    margin: 0; // angular bug, adds margin twice if this isn't here
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cdk-drag-animating,
.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder),
.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
    transition: transform 300ms ease;
    transition-delay: 0ms;
}
.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder),
.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
    transition-delay: 200ms;
}

.cdk-drag-placeholder {
    opacity: 0;
}