.board {
  display: inline-flex;
  height: 100%;
  padding: 20px;
}

.column-header-footer-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  max-width: 65vw;
  width: 350px;
  margin: 5px;
  background: var(--ion-color-light-tint);
  border: 1px solid var(--ion-color-medium);
  border-radius: 4px;

  .column-title {
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 4px 4px 0px 0px; // overflow hidden doesn't cut it on ios
    background: var(--ion-color-light-tint);
    text-transform: uppercase;
    font-size: 0.8em;
    border-bottom: 1px solid var(--ion-color-medium);
  }

  .column {
    overflow-y: auto;
  }
}




.ticket {
  margin: 10px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  transition: none; // ios adds an ugly bounce if this isn't here
  padding-bottom: 10px;


  background: white;
  border-bottom: 1px solid var(--ion-color-medium);
  border-radius: 4px;
  transition: background-color 0.5s ease;


  .ticket-icon-container {
    display: flex;
    justify-content: space-between;
    height: 40px;

    .ticket-icon {
      height: 20px;
      width: 20px;
      padding: 10px;
    }
  }

  .ticket-title {
      margin: 10px;
      margin-top: 0;
    }

    .ticket-description {
      margin: 10px;
      // overflow: hidden;
      font-size: 0.8em
  }
}




/////// drag drop styles ///////
.cdk-drag-animating,
.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}