<ng-container *ngIf="board$ | async as board">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ board.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="board-scroll-container">
    <div class="scroll-area left"></div>
    <div class="scroll-area right"></div>

    <div class="board" >


      <div class="column-container" *ngFor="let column of board.states">
        <div class="column-title">{{ column.title }}</div>

        <ng-container *ngIf="(board.tickets && board.tickets[column.state]) || [] as tickets">

          <smooth-dnd-container
            class="column"
            [groupName]="'col'"
            (drop)="onTicketDrop(column, tickets, $event)"
            [getChildPayload]="getTicketPayload(tickets)"
            [dragBeginDelay]='200'
          >

            <smooth-dnd-draggable
              *ngFor="let ticket of tickets"
            >
              <div class='ticket'>
                <div class='ticket-title'>{{ticket.title}}</div>
                <div class='ticket-title'>{{ticket.description}}</div>
              </div>
            </smooth-dnd-draggable>

          </smooth-dnd-container>

        </ng-container>

      </div>


    </div>

    <!-- TODO  delete this -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="dummyTickets()">
        <ion-icon name="add">dummy Tickets</ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

</ng-container>