<ng-container *ngIf="board$ | async as board">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ board.title }}</ion-title>

      <!-- remove vvv -->
      <ion-buttons slot="end">
        <ion-button (click)="dummyTickets()">
          <ion-icon name="copy"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- Remove ^^^ -->

    </ion-toolbar>
  </ion-header>

  <div #columnHeaderContainer class='column-headers'>
    <div
      *ngFor="let column of board.states"
      class="column-header"
    >
      <div class="title">{{ column.title }}</div>
    </div>
  </div>

  <div class="scrolling-container" (scroll)=onBoardScroll($event)>
    <div class="board" >
      <ng-container *ngFor="let column of board.states">
        <ng-container *ngIf="(board.tickets && board.tickets[column.state]) || [] as tickets">

          <smooth-dnd-container
            class="column"
            [groupName]="'col'"
            (drop)="onTicketDrop(column, tickets, $event)"
            [getChildPayload]="getTicketPayload(tickets)"
          >

            <smooth-dnd-draggable
              *ngFor="let ticket of tickets"
            >
              <div class='ticket' (click)="openTicketDetail(ticket)">
                <div class='title'>{{ticket.title}}</div>
                <div class='description'>{{ticket.description}}</div>
              </div>
            </smooth-dnd-draggable>

          </smooth-dnd-container>

        </ng-container>
      </ng-container>
    </div>
  </div>

</ng-container>