<div class="board" appSortable>
  <!-- TODO should I just store states as an array? -->
  <div class="column-header-footer-container" *ngFor="let column of boardData.states">
    <div class="column-title">{{ column.title }}</div>

    <ng-container *ngIf="((boardData.tickets && boardData.tickets[column.state]) || []) as tickets">
      <div
        class="column"
        #sortContainer
      >

        <div
          *ngFor="let ticket of tickets"
          class="ticket draggable"
        >
          <div class="ticket-icon-container">
            <ion-icon
              name="more"
              class="ticket-icon"
              color="medium"
            ></ion-icon>
          </div>
          <div class="ticket-title">{{ ticket.title }}</div>
          <div class="ticket-description">{{ ticket.description }}</div>
        </div>

      </div>
      <!-- close column -->
    </ng-container>


  </div>
  <!-- close column container (contains header and footer) -->
</div>
<!-- close board-->
