<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Groups</ion-title>
    <app-settings-icon slot='end'></app-settings-icon>
  </ion-toolbar>
</ion-header>


<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #noGroups>
  <app-empty-list [listType]="'groups'"></app-empty-list>
</ng-template>


<ion-content forceOverscroll='false'>
  <ng-container *ngIf="groups$ | async as groups; else loading">
    <ng-container *ngIf="groups.length; else noGroups">
      <ion-list>
        <ion-item
          *ngFor="let group of groups"
          button
          [routerLink]="['/groups', group.id]"
        >
          <ion-text text-wrap>{{ group.title }}</ion-text>
          <ion-note slot='end' color='primary'>{{ group.members.length }} members</ion-note>
        </ion-item>
      </ion-list>
    </ng-container><!-- check that we have some groups -->
  </ng-container><!-- fetching all groups -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>