<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
    <app-settings-icon slot='end' [settingsOptions]="settingsOptions"></app-settings-icon>
  </ion-toolbar>
</ion-header>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #noGroups>
  <app-empty-list [listType]="'groups'"></app-empty-list>
</ng-template>

<ng-container *ngIf="groups$ | async as groups">
  <ng-container *ngIf="!groups.loading; else loading">
    <ion-content *ngIf="groups.length; else noGroups">
      <ion-item
        *ngFor="let group of groups"
        button
        routerDirection="root"
        [routerLink]="['/group', group.id]"
      >
        <ion-text class="ion-text-wrap">{{ group.title }}</ion-text>
        <ion-note slot='end' color='primary'>{{ group.members | membersDetail }}</ion-note>
      </ion-item>
    </ion-content><!-- check that we have some groups -->
  </ng-container><!-- check we are not loading them still -->
</ng-container><!-- fetching all groups -->