<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ header }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>

  <div class="section">
    <div class="title">Title</div>
    <ion-item color="secondary" class="input">
      <ion-input
        #titleInput
        [(ngModel)]="title"
        placeholder="Title"
        class="ion-text-center"
      ></ion-input>
    </ion-item>
  </div>

  <div class="section">
    <app-contact-picker
      [allContacts]='allContacts'
      [selectedContacts]='selectedContacts'
    ></app-contact-picker>
  </div>

</ion-content>

<ion-footer no-border class="ion-padding footer-buttons">
  <ion-button
    (click)="close()"
    class="footer-button"
    expand="block"
    fill="outline"
    color="primary"
    strong="true"
  >
    Cancel
  </ion-button>
  <ion-button
    (click)="close(true)"
    class="footer-button"
    expand="block"
    fill="solid"
    strong="true"
    color="primary"
    [disabled]='!title.trim()'
  >
    {{ ctaText }}
  </ion-button>
</ion-footer>