<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Start chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input placeholder='Chat name' [(ngModel)]='title'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>Participant</ion-label>
    <ion-input placeholder='Name' [(ngModel)]='participant'></ion-input>
  </ion-item>

  <ion-button expand='block' (click)="addUser()">Add participant</ion-button>


  <ion-list>
    <ion-label>Current members</ion-label>
    <ion-item *ngFor="let user of users">
      {{user.email}}
    </ion-item>
  </ion-list>

  <ion-button expand='block' (click)="startChat()">Start chat</ion-button>
</ion-content>
