.menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .menu-items {
        flex: 1;
    }
}

.group-title {
    font-size: 1.1em;
}

ion-item {
    --background: transparent;

    &.active {
        background: var(--ion-color-medium);
    }
}