.menu {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.users-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--ion-safe-area-bottom, 0);
}