<ion-split-pane>
  <ion-menu class="menu-container" contentId="content" swipe-gesture="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="themeService.toggleThemes()">
            <ion-icon slot="icon-only" [name]="(themeService.nextTheme$ | async)?.icon"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content forceOverscroll="false" color="medium">
      <div class="menu">

        <ion-menu-toggle autoHide="false" class='all-groups-item'>
          <ion-item
            routerLink="/"
            routerDirection="root"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            lines="full"
            detail="false"
          >
            <ion-icon slot="start" name="arrow-back" class='back-icon'></ion-icon>
            <ion-label>All groups</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ng-container *ngIf="currentGroup$ | async as currentGroup">
          <ng-container
            *ngIf="!currentGroup.loading && groupService.showGroupMenuItems"
          >
            <ion-header>
              <ion-toolbar class="group-title" color="primary">
                <ion-item class="ion-text-wrap" lines="none" color="primary">{{
                  currentGroup.title
                }}</ion-item>
              </ion-toolbar>
            </ion-header>

            <ion-list class="ion-no-padding menu-items">
              <ion-menu-toggle autoHide="false">
                <ion-item
                  *ngFor="let page of pages"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/', 'group', currentGroup.id, page.url]"
                  [routerDirection]="page.routerDirection"
                  lines="full"
                  detail="false"
                >
                  <ion-icon
                    slot="start"
                    [name]="page.icon"
                    class="menu-icon"
                  ></ion-icon>
                  <ion-label>{{ page.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ng-container>
        </ng-container>

        <ion-list class="ion-no-padding ion-no-margin users-items">
          <ion-menu-toggle autoHide="false">
            <ion-item
              [routerLink]="['/', 'contacts']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              lines="full"
              detail="false"
            >
              <ion-label>Contacts</ion-label>
              <ion-icon slot="end" name="contacts"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-item tappable (click)="showSettings()" lines="full">
            <ion-label>Settings</ion-label>
            <ion-icon slot="end" name="settings"></ion-icon>
          </ion-item>
          <ion-item tappable (click)="logOut()" lines="full">
            <ion-label>Logout</ion-label>
            <ion-icon slot="end" name="log-out"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet
    id="content"
    main
    [swipeGesture]="false"
  ></ion-router-outlet>
</ion-split-pane>
