<ion-menu contentId="content" swipe-gesture='false'>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content forceOverscroll='false'>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
        <ion-item
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="[page.url]"
          [routerDirection]="page.routerDirection"
          class="menu-item"
        >
          <ion-label>
            {{ page.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-item
        tappable
        routerLink="/login"
        routerDirection="root"
        (click)="logOut()"
      >
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content" main [swipeGesture]="false"></ion-router-outlet>