<ion-split-pane contentId="content">
  <ion-menu class="menu-container" contentId="content" swipe-gesture="false">
    <ion-header mode='md'>
      <ion-toolbar color="secondary" mode='md'>
        <ion-buttons slot="end">
          <ion-button (click)="themeService.toggleThemes()">
            <ion-icon slot="icon-only" [name]="(themeService.nextThemeIcon$ | async)"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content forceOverscroll="false" color='tertiary'>
      <div class="menu">

        <ion-menu-toggle autoHide="false" class='all-groups-item'>
          <ion-item
            lines="full"
            detail="false"
            routerLink="/"
            routerDirection="root"
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: true }"
            #allGroupsRLA="routerLinkActive"
            [color]="allGroupsRLA.isActive ? 'primary' : 'tertiary'"
          >
            <ion-icon *ngIf="!allGroupsRLA.isActive" slot="start" name="arrow-back" class='back-icon'></ion-icon>
            <ion-label>All groups</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ng-container *ngIf="currentGroup$ | async as currentGroup">
          <ng-container
            *ngIf="!currentGroup.loading && groupService.showGroupMenuItems"
          >
            <ion-header mode='md'>
              <ion-toolbar class="group-title important-no-padding" color="secondary">
                <ion-item class="ion-text-wrap ion-text-center" lines="none" color="secondary">{{
                  currentGroup.title
                }}</ion-item>
              </ion-toolbar>
            </ion-header>

            <ion-list class="ion-no-padding menu-items">
              <ion-menu-toggle autoHide="false">
                <ion-item
                  *ngFor="let page of pages"
                  lines="full"
                  detail="false"
                  [routerLink]="['/', 'group', currentGroup.id, page.url]"
                  [routerDirection]="page.routerDirection"
                  routerLinkActive
                  #rla="routerLinkActive"
                  [color]="rla.isActive ? 'primary' : 'tertiary'"
                >
                  <ion-icon
                    slot="start"
                    [name]="page.icon"
                    class="menu-icon"
                  ></ion-icon>
                  <ion-label>{{ page.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ng-container>
        </ng-container>

        <ion-toolbar class="users-items" color='transparent'>
          <ion-menu-toggle autoHide="false">
            <ion-item
              [routerLink]="['/', 'contacts']"
              routerLinkActive
              #contactsRLA="routerLinkActive"
              [color]="contactsRLA.isActive ? 'primary' : 'tertiary'"
              lines="full"
              detail="false"
            >
              <ion-label>Contacts</ion-label>
              <ion-icon slot="end" name="contacts" class="menu-icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item
              tappable
              (click)="showSettings()"
              lines="full"
              detail="false"
              color="tertiary"
            >
              <ion-label>Settings</ion-label>
              <ion-icon slot="end" name="settings"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item
              tappable
              (click)="logOut()"
              lines="none"
              detail="false"
              color="tertiary"
            >
              <ion-label>Logout</ion-label>
              <ion-icon slot="end" name="log-out"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet
    id="content"
    [swipeGesture]="false"
  ></ion-router-outlet>
</ion-split-pane>
