.menu-container.split-pane-side {
    min-width: 200px;
    max-width: 200px;
}

.menu-item {
    border-left: 8px solid transparent;
    &.active {
        border-left: 8px solid var(--ion-color-primary);
    }
}