<ng-container *ngIf="chat$ | async as chat">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closePage()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ chat.title }}</ion-title>
      <app-settings-icon slot="end"></app-settings-icon>
    </ion-toolbar>
  </ion-header>
  <ng-template #noMessages>
    <app-empty-list [customMessage]="'No messages'"></app-empty-list>
  </ng-template>
  <ion-content [scrollEvents]="true" (ionScrollEnd)="scrollEnd($event)">
    <ion-grid
      *ngIf="getMessages(chat) as messages; else noMessages"
      class="ion-padding message-area"
    >
      <ion-row *ngFor="let message of messages; trackBy: messageTrackBy">
        <ion-col
          size="9"
          size-md="6"
          *ngIf="message.from !== currentUserId"
          class="message other-message"
          [id]="message.id"
        >
          <div class="details">
            <ion-note
              [ngClass]="{ show: message.createdAt }"
              class="time-stamp"
              >{{
                message.createdAt?.seconds * 1000 | date: 'h:mmaa' | lowercase
              }}</ion-note
            >
            <ion-text class="name">{{ message.from }}</ion-text>
          </div>
          <div class="ion-padding text">
            {{ message.message }}
            <ion-img *ngIf="message.file" [src]="message.file"></ion-img>
          </div>
        </ion-col>

        <ion-col
          offset="3"
          offset-md="6"
          size="9"
          size-md="6"
          *ngIf="message.from === currentUserId"
          class="message my-message"
          [id]="message.id"
        >
          <div class="details">
            <ion-note
              [ngClass]="{ show: message.createdAt }"
              class="time-stamp"
              >{{
                message.createdAt?.seconds * 1000 | date: 'h:mmaa' | lowercase
              }}</ion-note
            >
          </div>
          <div class="ion-padding text">
            {{ message.message }}
            <ion-img *ngIf="message.file" [src]="message.file"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="linkSomething()" color="primary">
          <ion-icon slot="icon-only" name="link"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-textarea
        [(ngModel)]="message"
        class="ion-no-margin type-message-area"
        autosize
      >
      </ion-textarea>
      <ion-buttons slot="end">
        <ion-button
          (click)="sendMessage()"
          color="primary"
          [disabled]="!message.trim()"
        >
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
