<ng-container *ngIf="chat$ | async as chat">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closePage()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ chat.title }}</ion-title>
      <app-settings-icon slot="end"></app-settings-icon>
    </ion-toolbar>
  </ion-header>
  <ng-template #noMessages>
    <app-empty-list [customMessage]="'No messages'"></app-empty-list>
  </ng-template>
  <ion-content [scrollEvents]="true" (ionScrollEnd)="scrollEnd($event)">
    <ion-grid
      *ngIf="getMessages(chat) as messages; else noMessages"
      class="message-area ion-no-padding"
    >
      <ng-container
        *ngFor="let message of messages; let i = index; trackBy: messageTrackBy"
      >
        <ion-item-divider
          *ngIf="
            i === 0 ||
            (message.createdAt &&
              messages[i - 1].createdAt &&
              (message.createdAt.seconds * 1000 | date: 'd MMMM y') !==
                (messages[i - 1].createdAt.seconds * 1000 | date: 'd MMMM y'))
          "
          sticky="true;"
          class="date-divider"
          [ngClass]="{ show: message.createdAt }"
        >
          <ion-label class="date-label">
            {{ message.createdAt?.seconds * 1000 | date: 'd MMMM y' }}
          </ion-label>
        </ion-item-divider>

        <ion-row class="ion-padding-horizontal">
          <ion-col
            size="9"
            size-md="6"
            *ngIf="message.from !== currentUserId"
            class="message other-message"
            [id]="message.id"
          >
            <div class="details">
              <ion-note
                [ngClass]="{ show: message.createdAt }"
                class="time-stamp"
                >{{
                  message.createdAt?.seconds * 1000 | date: 'h:mma' | lowercase
                }}</ion-note
              >
              <ion-text class="name">{{ message.senderName }}</ion-text>
            </div>
            <div class="ion-padding text">
              {{ message.message }}
              <ion-img *ngIf="message.file" [src]="message.file"></ion-img>
            </div>
          </ion-col>

          <ion-col
            offset="3"
            offset-md="6"
            size="9"
            size-md="6"
            *ngIf="message.from === currentUserId"
            class="message my-message"
            [id]="message.id"
          >
            <div class="details">
              <ion-note
                [ngClass]="{ show: message.createdAt }"
                class="time-stamp"
                >{{
                  message.createdAt?.seconds * 1000 | date: 'h:mma' | lowercase
                }}</ion-note
              >
            </div>
            <div class="ion-padding text">
              {{ message.message }}
              <ion-img *ngIf="message.file" [src]="message.file"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="linkSomething()" color="primary">
          <ion-icon slot="icon-only" name="link"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-textarea
        [(ngModel)]="message"
        class="ion-no-margin type-message-area"
        autosize
      >
      </ion-textarea>
      <ion-buttons slot="end">
        <ion-button
          (click)="sendMessage()"
          color="primary"
          [disabled]="!message.trim()"
        >
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ng-container>
