.state-select {
    display: none;
}

.title, .description {
    width: auto;
}

.title {
    font-size: 1.3em;
}

.completed-by {
    border-top: 1px solid var(--ion-color-medium);
    border-bottom: 1px solid var(--ion-color-medium);

    .chips {
        // direction: rtl;
        padding-top: 0;
    }
}