<ng-template #loadingLinkedChats>
  <app-loading></app-loading>
</ng-template>
<ng-template #noLinkedChats>
  <app-empty-list [customMessage]="'No linked chats'"></app-empty-list>
</ng-template>

<ng-container [formGroup]="ticketForm">
  <ion-header no-border>
    <ion-toolbar mode="md">
      <ion-buttons slot="start">
        <ion-button (click)="closeButWarnUnsavedChanges()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="ticketId">
        <ion-button (click)="deleteTicket()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-textarea
      formControlName="title"
      placeholder="Title"
      class="title ion-text-center ion-margin-horizontal input"
      autosize
    >
    </ion-textarea>
    <ion-textarea
      formControlName="description"
      placeholder="Description"
      class="description ion-margin ion-padding-horizontal input"
      autosize
    >
    </ion-textarea>

    <div class="completed-by">
      <ion-item lines="none">
        <ion-label>Completed by</ion-label>
        <ion-select
          #completedBySelect
          multiple="true"
          selectedText=" "
          formControlName="completedBy"
        >
          <ion-select-option
            *ngFor="let person of completedBy"
            [value]="person.id"
            >{{ person.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div
        class="chips ion-padding"
        *ngIf="
          this.ticketForm.get('completedBy').value &&
          this.ticketForm.get('completedBy').value.length
        "
      >
        <ion-chip
          *ngFor="let personId of this.ticketForm.get('completedBy').value"
          (click)="completedBySelect.open()"
          [color]="completedByObj[personId] && completedByObj[personId]['color'] || 'danger'"
        >
          <ion-label>{{ completedByObj[personId] && completedByObj[personId]['name'] || 'Deleted' }}</ion-label>
        </ion-chip>
      </div>
    </div>

    <div class="section" *ngIf="ticketId">
      <ion-item lines="none">
        <app-tip [text]="linkedChatsTip" slot="end"></app-tip>
      </ion-item>
      <div class="title">
        Linked chats
      </div>
      <ng-container *ngIf="linkedChats$ | async as linkedChats">
        <ng-container *ngIf="!linkedChats.loading; else loadingLinkedChats">
          <ng-container *ngIf="linkedChats.length; else noLinkedChats">
            <ion-list *ngFor="let chat of linkedChats">
              <ion-item-divider sticky='true'>
                <ion-label>{{ chat.title }}</ion-label>
              </ion-item-divider>
              <ion-item
                *ngFor="let message of chat.linkedTickets[currentTicketSnippet.id]"
                tappable
                (click)="openChat(chat.id, [message.messageId])"
              >
                {{ message.message }}
              </ion-item>
            </ion-list>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ion-content>

  <ion-footer no-border class="ion-padding footer-buttons">
    <ion-button
      (click)="closeButWarnUnsavedChanges()"
      class="footer-button"
      expand="block"
      fill="outline"
      color="primary"
      strong="true"
    >
      Close
    </ion-button>
    <ion-button
      (click)="saveTicket()"
      class="footer-button"
      expand="block"
      fill="solid"
      strong="true"
      color="primary"
      [disabled]="!ticketForm.valid"
    >
      Save
    </ion-button>
  </ion-footer>
</ng-container>