.state-select {
    display: none;
}

.title {
    // padding-bottom: 0px;
    font-size: 1.3em;
}

.description {
    min-height: 200px;
    margin: 0px;
    padding-top: 0px;
}

.completed-by {
    border-top: 1px solid var(--ion-color-medium);
    border-bottom: 1px solid var(--ion-color-medium);

    .chips {
        // direction: rtl;
        padding-top: 0;
    }
}

.linked-chats {
    min-height: 200px;
    display: flex;
    flex-direction: column;
}