$slidingOptionsWidth: 130px;

.limit-width-page {
    max-width: calc(1000px + #{$slidingOptionsWidth});
}

@media (min-width: 992px) {
    .sliding-element {
        width: calc(100% - #{$slidingOptionsWidth});
    }

    .sliding-item {
        width: calc(100% - #{$slidingOptionsWidth});
        margin-left: auto;
    }
}