@media (min-width: 992px) {
    // split-pane kicks in at 992px
    // menu is 200px so content is 992 - 200 = 792px
    // sliding options are approx 130px in total
    // 792 - 130 = 662px to keep centered;
    // 130 / 792 = 17%
    // padding on left so item can be seen after sliding that way
    // margin on right to prevent sliding options overflowing item

    .sliding-item {
        width: 80%;
        min-width: 662px;
        max-width: 1000px;
        margin-right: 17%;
        padding-left: 17%;
    }
}