:host {
    flex: 1;
}

.loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--ion-color-primary);
    background: var(--ion-color-light);
}