<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closePage()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ board ? 'Edit' : 'New'}} Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <ion-item class="ion-text-center" lines="none">
      <ion-label>Title</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position='fixed'>Title</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
  </div>

  <!-- <ion-item lines="none">
    <ion-label>Icon</ion-label>
    <ion-select
      selectedText=" "
      formControlName="icon"
      interface="popover"
    >
      <ion-select-option
        *ngFor="let icon of icons"
        [value]="icon"
      >
        <ion-item>
          <ion-label>{{icon}}</ion-label>
        </ion-item>
      </ion-select-option
      >
    </ion-select>
  </ion-item> -->

  <div class="section">
    <ion-item class="ion-text-center" lines="none">
      <ion-label>States</ion-label>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="newStateName"
        (keyup.enter)="addState()"
        placeholder="State name"
      >
      </ion-input>
      <ion-button slot="end" (click)="addState()" [disabled]="!newStateName.trim()">
        Add State
      </ion-button>
    </ion-item>

    <ion-reorder-group (ionItemReorder)="reorderStates($event)" disabled="false">
      <ion-item *ngFor="let state of states">
        <ion-input [(ngModel)]="state.title"></ion-input>
        <ion-button slot="end"  fill="clear" (click)="removeState(state)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </div>

  <div class="section">
    <ion-item class="ion-text-center" lines="none">
      <ion-label>Members</ion-label>
    </ion-item>
    <ion-button (click)="selectContacts()">Choose Members</ion-button>
    <ion-list>
      <ion-item *ngFor="let contact of contacts">
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{ contact.userName }}</h2>
          </ion-text>
          <ion-text color="medium">
            <p>{{ contact.email }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <ion-item class="ion-text-center" lines="none">
      <ion-label>Completed by</ion-label>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="newCompletedByName"
        (keyup.enter)="addCompletedBy()"
        placeholder="Completed by name"
      >
      </ion-input>
      <ion-button slot="end" (click)="addCompletedBy()" [disabled]="!newCompletedByName.trim()">
        Add completed by
      </ion-button>
    </ion-item>

    <ion-reorder-group (ionItemReorder)="reorderCompletedBy($event)" disabled="false">
      <ion-item *ngFor="let cb of completedBy">
        <ion-input [(ngModel)]="cb.name"></ion-input>
        <ion-button slot="end"  fill="clear" (click)="removeCompletedBy(cb)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </div>

</ion-content>

<ion-footer no-border class="ion-padding footer-buttons">
  <ion-button
    (click)="closePage()"
    class="footer-button"
    expand="block"
    fill="outline"
    color="primary"
    strong="true"
  >
    Cancel
  </ion-button>
  <ion-button
    (click)="closePage(true)"
    class="footer-button"
    expand="block"
    fill="solid"
    strong="true"
    color="primary"
    [disabled]='!title.trim()'
  >
    Save
  </ion-button>
</ion-footer>