<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closePage()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ board ? 'Edit' : 'New'}} Board</ion-title>
    <ion-buttons slot="end" *ngIf="board">
      <ion-button (click)="deleteBoard()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <div class="title">Title</div>
    <ion-item color="secondary" class="input">
      <ion-input #titleInput [(ngModel)]="title" placeholder="Title" class="ion-text-center"></ion-input>
    </ion-item>
  </div>

  <div class="section">
    <div class="title">Icon</div>
    <ion-item button (click)="selectIcon($event)">
      <ion-label>Board Icon:</ion-label>
      <ion-icon slot="end" [name]="icon"></ion-icon>
    </ion-item>
  </div>

  <div class="section">
    <app-contact-picker [selectedContacts]='contacts'></app-contact-picker>
  </div>

  <div class="section">
    <div class="title">States</div>
    <ion-item color="secondary" class="input">
      <ion-input
        [(ngModel)]="newStateName"
        (keyup.enter)="addState()"
        placeholder="State name"
      >
      </ion-input>
      <ion-button slot="end" (click)="addState()" [disabled]="!newStateName.trim()">
        Add
      </ion-button>
    </ion-item>

    <ion-reorder-group (ionItemReorder)="reorderStates($event)" disabled="false">
      <ion-item *ngFor="let state of states">
        <ion-input [(ngModel)]="state.title"></ion-input>
        <ion-button slot="end"  fill="clear" (click)="removeState(state)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </div>

  <div class="section">
    <div class="title">Completed by</div>
    <ion-item color="secondary" class="input">
      <ion-input
        [(ngModel)]="newCompletedByName"
        (keyup.enter)="addCompletedBy()"
        placeholder="Completed by name"
      >
      </ion-input>
      <ion-button slot="end" (click)="addCompletedBy()" [disabled]="!newCompletedByName.trim()">
        Add
      </ion-button>
    </ion-item>

    <ion-item *ngFor="let cb of completedBy">
      <ion-input [(ngModel)]="cb.name"></ion-input>
      <ion-button slot="end"  fill="clear" (click)="removeCompletedBy(cb)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

</ion-content>

<ion-footer no-border class="ion-padding footer-buttons">
  <ion-button
    (click)="closePage()"
    class="footer-button"
    expand="block"
    fill="outline"
    color="primary"
    strong="true"
  >
    Cancel
  </ion-button>
  <ion-button
    (click)="closePage(true)"
    class="footer-button"
    expand="block"
    fill="solid"
    strong="true"
    color="primary"
    [disabled]='!title.trim()'
  >
    Save
  </ion-button>
</ion-footer>