<!-- TODO need a header when loading or there are no groups, need way to open the menu -->

<ng-template #loading>
  <div class="loading">
    <ion-spinner name="dots" class="spinner-dots"></ion-spinner>
  </div>
</ng-template>

<ng-template #noBoards>
  <div class="no-boards">
    There are no boards yet,<br />
    start one below!
  </div>
</ng-template>

<ng-container *ngIf="allBoards$ | async as allBoards">
  <ng-container *ngIf="!allBoards.loading; else loading">
    <ng-container *ngIf="allBoards.length; else noBoards">

      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button
            *ngFor="let board of allBoards"
            tab="{{ board.id }}"
          >
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>{{ board.title }}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

    </ng-container>
  </ng-container>
</ng-container>