<div class="login-page">
  <ion-card
    mode="md"
    class="ion-padding login-container"
    [formGroup]="signInForm"
  >
    <ion-item
      mode="md"
      lines="none"
      color="medium"
      (click)="autoFillCredentials()"
      (dblclick)="autoFillCredentials(true)"
    >
      <ion-icon class="logo" name="md-analytics"></ion-icon>
    </ion-item>

    <ion-item mode="md" lines="none" color="medium">
      <ion-button
        strong
        fill="clear"
        (click)="toSignUp(true)"
        [disabled]="returningMember && !showResetPasswordEmailWarning"
      >
        Log in
      </ion-button>
      <ion-button
        strong
        fill="clear"
        (click)="toSignUp(false)"
        [disabled]="!returningMember && !showResetPasswordEmailWarning"
        slot="end"
      >
        Sign up
      </ion-button>
    </ion-item>

    <div
      class="login-arrow"
      [ngClass]="{
        'sign-up': !returningMember,
        hide: showResetPasswordEmailWarning
      }"
    ></div>

    <ion-item mode="md" lines="none" color="secondary">
      <ion-input
        formControlName="email"
        placeholder="Email"
        type="email"
      ></ion-input>
      <ion-icon
        slot="end"
        class="form-validation-icon"
        (click)="showErrors(emailErrors)"
        [name]="emailErrors ? 'help' : 'checkmark'"
        [ngClass]="{
          error: emailErrors,
          shake: emailErrors,
          complete: signInForm.controls['email'].valid
        }"
      ></ion-icon>
    </ion-item>
    <div formGroupName="passwords">
      <ion-item
        mode="md"
        lines="none"
        class="enter-password"
        color="secondary"
        [ngClass]="{ show: !showResetPasswordEmailWarning }"
      >
        <ion-input
          formControlName="password"
          placeholder="Password"
          type="password"
        ></ion-input>
        <ion-icon
          slot="end"
          class="form-validation-icon"
          (click)="showErrors(passwordErrors)"
          [name]="passwordErrors ? 'help' : 'checkmark'"
          [ngClass]="{
            error: passwordErrors,
            shake: passwordErrors,
            complete:
              passwordControl['dirty'] &&
              (!signInForm.controls['passwords'].errors ||
                !signInForm.controls['passwords'].errors.passwordTooShort)
          }"
        ></ion-icon>
      </ion-item>
      <ion-item
        mode="md"
        lines="none"
        class="confirm-password"
        color="secondary"
        [ngClass]="{ show: !returningMember }"
      >
        <ion-input
          formControlName="confirmPassword"
          placeholder="Confirm password"
          type="password"
        ></ion-input>
        <ion-icon
          slot="end"
          class="form-validation-icon"
          (click)="showErrors(confirmPasswordErrors)"
          [name]="confirmPasswordErrors ? 'help' : 'checkmark'"
          [ngClass]="{
            error: confirmPasswordErrors,
            shake: confirmPasswordErrors,
            complete:
              confirmPasswordControl['dirty'] &&
              !signInForm.controls['passwords'].errors
          }"
        ></ion-icon>
      </ion-item>
    </div>
    <ion-item
      mode="md"
      lines="none"
      color="medium"
      class="enter-email-for-reset ion-text-center"
      [ngClass]="{ show: showResetPasswordEmailWarning }"
    >
      <ion-label class="ion-text-wrap">
        Please enter the email address you used to sign up.
      </ion-label>
    </ion-item>

    <ion-item
      mode="md"
      lines="none"
      color="medium"
      class="remember-me no-highlight-or-ripple"
      [ngClass]="{ show: !showResetPasswordEmailWarning }"
    >
      <ion-label>Remember me</ion-label>
      <ion-checkbox slot="end" formControlName="rememberMe"></ion-checkbox>
    </ion-item>

    <ion-button
      strong
      class="ion-no-margin"
      expand="full"
      (click)="formSubmit()"
      [disabled]="!signInForm.valid"
    >
      <div
        class="submit-button-text"
        [ngClass]="{ show: !showResetPasswordEmailWarning && returningMember }"
      >
        Login
      </div>
      <div
        class="submit-button-text"
        [ngClass]="{ show: !showResetPasswordEmailWarning && !returningMember }"
      >
        Sign up
      </div>
      <div
        class="submit-button-text"
        [ngClass]="{ show: showResetPasswordEmailWarning }"
      >
        Send reset email
      </div>
    </ion-button>

    <ion-item
      mode="md"
      lines="none"
      color="medium"
      class="forgot-password"
      [ngClass]="{ show: returningMember }"
      [disabled]="showResetPasswordEmailWarning"
    >
      <ion-button strong slot="end" fill="clear" (click)="forgotPassword()"
        >Forgot Password</ion-button
      >
    </ion-item>
  </ion-card>
</div>
