$splitPaneMenuWidth: 200px;


/////////////////////////////////////////////   Themes   /////////////////////////////////////////////
.theme-background {
  background: var(--ion-color-secondary);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, var(--ion-color-secondary), var(--ion-color-tertiary));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, var(--ion-color-secondary), var(--ion-color-tertiary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/////////////////////////////////////////////   Themes   /////////////////////////////////////////////





///////////////////////////////////////////// Animations /////////////////////////////////////////////
.shake {
    /* Start the shake animation and make the animation last for 0.7 seconds */
    animation: shake 0.7s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
///////////////////////////////////////////// Animations /////////////////////////////////////////////





//////////////////////////////////////////// Fiddly bits /////////////////////////////////////////////
.split-pane-visible >.split-pane-side {
  min-width: $splitPaneMenuWidth !important;
  max-width: $splitPaneMenuWidth !important;
}

ion-popover.tip-popover {
  --background: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

ion-popover.ticket-picker {
  --width: 70vw;
  --max-width: 520px;
  --max-height: 650px;
}

ion-modal.full-screen {
  --height: 100vh;
  --width: 100vw;

  @media (min-width: 992px) {
    left: $splitPaneMenuWidth;
  }
}

.title { // title for ticket details modal
  textarea {
    --padding-top: 0;
    --padding-bottom: 0;
  }
}
//////////////////////////////////////////// Fiddly bits /////////////////////////////////////////////
