<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>
  <ion-list>
    <ion-item
      button
      *ngFor="let chat of chats | async"
      [routerLink]="['/menu','chat', (chat | async)?.id || 0]"
    >
      <ion-text text-wrap>{{ (chat | async)?.title }}</ion-text>
      <ion-note slot='end'>{{ (chat | async)?.users.length }} members</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['start']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
