<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>
  <ion-list>
    <ng-container *ngFor="let chat$ of chats$ | async">
      <ion-item
        button
        *ngIf="(chat$ | async) as chat; else loading"
        [routerLink]="['/menu','chat', chat.id || 0]"
      >
        <ion-text text-wrap>{{ chat.title }}</ion-text>
        <ion-note slot='end'>{{ chat.users.length }} members</ion-note>
      </ion-item>
      <ng-template #loading>
        <ion-item>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated slot='end' style="width: 10%"></ion-skeleton-text>
        </ion-item>
      </ng-template>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['start']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
