<ng-template #loadingContacts>
  <app-loading></app-loading>
</ng-template>
<ng-template #noContacts>
  <app-empty-list [customMessage]="'No matching contacts'"></app-empty-list>
</ng-template>

<ion-item lines="none">
  <app-tip [text]="membersTip" slot="end"></app-tip>
</ion-item>
<div class="title">Members</div>
<div class='contact-picker'>
  <ion-searchbar
    #searchBar
    (ionChange)="updateSearchTerm(searchBar.value)"
    color="secondary"
    [disabled]="disabled"
  >
  </ion-searchbar>
  <div class='contact-list'>
    <ng-container *ngIf="filteredContacts$ | async as contacts">
      <ng-container *ngIf="!contacts.loading; else loadingContacts">
        <ion-list *ngIf="contacts.length; else noContacts">

          <ion-item lines="none" [disabled]="disabled">
            <ion-icon
              name="ribbon"
              color="primary"
            ></ion-icon>
            <ion-label> = Admin</ion-label>
          </ion-item>

          <ion-item *ngFor="let contact of contacts" lines="none" class="no-highlight-or-ripple">
            <ion-icon
              name="ribbon"
              slot="start"
              (click)="toggleAdmin(contact.id)"
              [color]='admins && admins.includes(contact.id) ? "primary" : "tertiary"'
            ></ion-icon>

            <ion-item class='inner-contact-item' lines="full">

              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h2>{{ contact.userName }}</h2>
                </ion-text>
                <ion-text color="primary">
                  <p>{{ contact.email }}</p>
                </ion-text>
              </ion-label>
              <ion-checkbox
                slot="end"
                (ionChange)="contactSelected($event.detail.checked, contact.id)"
                [checked]="selectedContacts.includes(contact.id)"
                [disabled]="disabled"
              >
              </ion-checkbox>

            </ion-item>

          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>
  </div>
</div>