.page-loading-blocker {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  
    .spinner {
      font-size: 1.5em;
      color: var(--ion-color-primary);
      
      .spinner-dots{
        transform: translateY(1rem);
      }
    }
  }
  