<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="board" cdkDropListGroup>
    <div
      class="state-container"
      *ngFor="let state of states"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="state"
      cdkDropList
    >
      <div class="card-list">
        <ion-card
          *ngFor="let ticket of state.tickets"
          [cdkDragData]="ticket"
          class="ticket"
          color="light"
          cdkDrag
        >
          <div class="ticket-icon-container">
            <ion-icon
              name="more"
              class="ticket-icon"
              color="medium"
              (click)="seeMore($event)"
            ></ion-icon>
            <ion-icon
              name="move"
              class="ticket-icon"
              color="medium"
              cdkDragHandle
            ></ion-icon>
          </div>
          <ion-card-header class="ticket-title">
            <ion-card-title text-wrap>{{ ticket.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ticket-description">
            {{ ticket.description }}
          </ion-card-content>
          <div class="ticket-time-container">
            <ion-note>
              {{ ticket.created_at?.seconds * 1000 | date: 'd MMM yy' }}
            </ion-note>
          </div>
        </ion-card>
      </div>
      <div class="state-title">
        {{ state.title }}
      </div>
      <div class="state-fade-footer"></div>
    </div>
  </div>

  <!-- // TODO remove this! -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="dummyTickets()">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- // TODO remove this! -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTicket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
