.board {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.column-header-footer-container {
  position: relative;
  width: 32%;
  background: var(--ion-color-light-tint);
  border: 1px solid var(--ion-color-medium);
  border-radius: 4px;
  overflow: hidden;
}
  
.column-title {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 10px;
  z-index: 1;
  background: linear-gradient(to bottom, var(--ion-color-light-tint) 40px, transparent);
  height: 50px;
  text-transform: uppercase;
}
.column-fade-footer {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 10px;
  background: linear-gradient(to top, var(--ion-color-light-tint), transparent);
}

.column {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
  
.ticket {
  margin: 10px;
  max-height: 300px;
  display: flex;
  flex-direction: column;

  .ticket-icon-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    .ticket-icon{
      height: 20px;
      width: 20px;
      padding: 10px;
    }
  }

  .ticket-title {
    margin: 10px;
    margin-top: 0;
    font-size: 1.3em
  }

  .ticket-description {
    margin: 10px;
    overflow: hidden;
  }

  .date-time-container {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    .date-time{
      padding: 10px
    }
  }
}

//////// Drag and drop styling ///////
.cdk-drag-preview {
  margin: 0; // angular bug, adds margin twice if this isn't here
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating,
.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder) {
  transition:  250ms ease-out;
}
