.board {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.state-container {
  position: relative;
  border: solid 1px var(--ion-color-medium);
  border-radius: 4px;
  width: 32%;
  height: 100%;
  background-color: var(--ion-color-light-tint);
  display: flex;
  flex-direction: column;

  .state-title {
    position: absolute;
    top: 0;
    width: calc(
      100% - 10px
    ); // prevents scroll bar being faded (same width as card-list padding)
    margin-right: 10px;
    text-transform: uppercase;
    text-align: center;
    min-height: 50px;
    background: linear-gradient(
      to bottom,
      var(--ion-color-light-tint) 40px,
      transparent
    );
    padding: 10px;
    padding-right: 0; // keep title centered
    font-weight: bold;
  }

  .card-list {
    flex-grow: 1;
    padding: 10px;
    overflow: scroll;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .state-fade-footer {
    position: absolute;
    width: calc(
      100% - 10px
    ); // prevents scroll bar being faded (same width as card-list padding)
    margin-right: 10px;
    bottom: 0;
    min-height: 40px;
    background: linear-gradient(
      to top,
      var(--ion-color-light-tint) 18px,
      transparent 50px);
  }
}

.ticket {
  box-sizing: border-box; // needed to make the transitions work
  max-height: 300px;

  .ticket-icon-container {
    display: flex;
    justify-content: space-between;

    .ticket-icon {
      width: 20px;
      height: 20px;
      padding: 10px;
    }
  }

  .ticket-title {
    text-align: center;
    padding-top: 0;
  }

  .ticket-description {
    max-height: 180px;
    overflow: hidden;
  }

  .ticket-time-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating,
.state-list.cdk-drop-list-dragging .ticket:not(.cdk-drag-placeholder) {
  transition: transform 250ms ease-out;
}
