<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>
  <div class="board" cdkDropListGroup>
    <div class="column-header-footer-container" *ngFor="let column of columns">
      <div class="column-title">{{ column.title }}</div>
      <div class="column-fade-footer"></div>
      <div
        class="column"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="column"
        cdkDropList
      >
        <ion-card
          *ngFor="let ticket of column.tickets"
          color='light'
          class="ticket"
          [cdkDragData]="ticket"
          cdkDrag
        >
          <div class="ticket-icon-container">
            <ion-icon
              name="more"
              class="ticket-icon"
              color="medium"
              (click)="seeMore(ticket.id)"
            ></ion-icon>
            <ion-icon
              name="move"
              class="ticket-icon"
              color="medium"
              cdkDragHandle
            ></ion-icon>
          </div>
          <div class="ticket-title">{{ ticket.title }}</div>
          <div class="ticket-description">{{ ticket.description }}</div>
          <div class="date-time-container">
            <ion-note class="date-time">
              {{ ticket.created_at?.seconds * 1000 | date: 'd MMM yy' }}
            </ion-note>
          </div>
        </ion-card>
      </div>
      <!-- close column -->
    </div>
    <!-- close column container (contains header and footer) -->
  </div>
  <!-- close board-->

  <!-- // TODO remove this! -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="dummyTickets()">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- // TODO remove this! -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTicket()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
