.ticket-picker {
    display: flex;
    flex-direction: column;
    height: 80vh;

    .ticket-list {
        overflow: scroll;
        flex: 1;

        .board-title {
            margin: auto;
            font-size: 1.1em;
        }
    }
}