<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
    <app-settings-icon slot='end' [settingsOptions]="settingsOptions"></app-settings-icon>
  </ion-toolbar>
</ion-header>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #noChats>
  <app-empty-list [listType]="'chats'"></app-empty-list>
</ng-template>

<ng-container *ngIf="chats$ | async as chats">
  <ng-container *ngIf="!chats.loading; else loading">
    <ion-content *ngIf="chats.length; else noChats">

      <app-sliding-list
        [items]="chats"
        [onClick]="onChatItemClick"
        [onEdit]="editChat"
        [onDelete]="deleteChat"
        (listChanged)="slidingListChanged($event)"
      >
      </app-sliding-list>

    </ion-content>
  </ng-container><!-- check that we have some chats -->
</ng-container><!-- fetching all chats -->