<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>
  <ng-container *ngIf="(chats$ | async) as chats; else loading">
    <ng-container *ngIf="chats.length; else noChats">
      <ion-list>
        <ng-container *ngFor="let chat$ of chats">
          <ion-item
            button
            *ngIf="(chat$ | async) as chat; else loadingChat"
            [routerLink]="['/menu','chat', chat.id || 0]"
          >
            <ion-text text-wrap>{{ chat.title }}</ion-text>
            <ion-note slot='end'>{{ chat.users.length }} members</ion-note>
          </ion-item>
          <ng-template #loadingChat><!-- display skeleton text while we fetch chat details -->
            <ion-item>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated slot='end' style="width: 10%"></ion-skeleton-text>
            </ion-item>
          </ng-template>
        </ng-container>
      </ion-list>
    </ng-container><!-- check that we have some chats -->
    <ng-template #noChats>
      <div class='no-chats'>
        You are not in any chats yet,<br>
        start one below!
      </div>
    </ng-template>
  </ng-container><!-- fetching all chats -->
  <ng-template #loading>
    <div class='loading'>
      <ion-spinner name="dots" class="spinner-dots"></ion-spinner>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
