<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Create group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>

  <ion-item>
    <ion-input placeholder='Group name' [(ngModel)]='title'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>Participant</ion-label>
    <ion-input placeholder='Name' [(ngModel)]='participant'></ion-input>
  </ion-item>

  <ion-button expand='block' (click)="addUser()">Add participant</ion-button>

  <ion-list>
    <ion-label>Current members</ion-label>
    <ion-item *ngFor="let user of users">
      {{user.email}}
    </ion-item>
  </ion-list>

  <ion-button expand='block' (click)="createGroup()">Create group</ion-button>

</ion-content>
