<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Create group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll='false'>

  <ion-item>
    <ion-input placeholder='Group name' [(ngModel)]='title'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>Member</ion-label>
    <ion-input placeholder='Email' [(ngModel)]='memberToAdd'></ion-input>
  </ion-item>

  <ion-button expand='block' (click)="addMember()">Add member</ion-button>

  <ion-list>
    <ion-label>Current members</ion-label>
    <ion-item *ngFor="let member of currentMembers">
      <ion-text text-wrap>{{member.name}}</ion-text>
      <ion-note slot='end'>{{member.email}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-button expand='block' (click)="createGroup()">Create group</ion-button>

</ion-content>
